body {
    background: linear-gradient(150deg, black, gray);
    text-align: center;
    align-content: center;
    color: white;
    font-family: Lucida Console;
    font-size: 25px;
}
.foot{
    background: gray;
    border: 10px solid navy;
    color: white;
    align-self: center;
    text-align: center;
    align-content: center;
    font-family: Lucida Console;
}
